{% extends "header.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/artist.css' %}">
<main class="profile-container">
    <section class="container">
        <h2>Productos de {{ artist.name }}</h2>
        <div class="artist-container">
            <div class="artist-info">
            {% if artist.image %}
                <img src="{{ artist.image.url }}" alt="{{ artist.name }}" width="100%">
            {% endif %}
            </div>
            <section class="Product-Container">
                <div class="Products">
                    {% for prod in product %}
                        <a href="{% url 'catalog:product' prod.id %}">
                        <div class="Product-Wrapper">
                            <div class="Product-Img">
                                <img src="{{ prod.image.url }}" alt="{{ prod.name }}">
                            </div>
                            <h6>{{ prod.name }}</h6>
                            <div class="Product-Price">
                                <p>$</p>
                                <p>{{ prod.price }}</p>
                                <p>USD</p>
                            </div>
                        </div>
                        </a>
                    {% endfor %} 
                </div>
            </section>
    </section>

    <div class="pagination">
        <ul class="pagination_Container">
            <!-- Botón de página anterior -->
            {% if page_obj.has_previous %}
            <li>
                <a href="?{% if request.GET %}{{ request.GET.urlencode|safe }}&{% endif %}page={{ page_obj.previous_page_number }}"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg></a>
            </li>
            {% else %}
            <li class="disabled"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg></li>
            {% endif %}

            <!-- Números de página -->
            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="active"><span>{{ num }}</span></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="Num_non_active"><a href="?{% if request.GET %}{{ request.GET.urlencode|safe }}&{% endif %}page={{ num }}">{{ num }}</a></li>
            {% endif %}
            {% endfor %}

            <!-- Botón de página siguiente -->
            {% if page_obj.has_next %}
            <li>
                <a href="?{% if request.GET %}{{ request.GET.urlencode|safe }}&{% endif %}page={{ page_obj.next_page_number }}"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg></a>
            </li>
            {% else %}
            <li class="disabled"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg></li>
            {% endif %}
        </ul>
    </div>
</main>
{% endblock content %}
